<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>whereAmI?.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F53617C24533B6600E5C2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F53619224533B6700E5C2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F53619D24533B6700E5C2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
